src/main/mule/platform-credentials-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a763eb56-14ff-4d9d-ac3a-f180e839d954" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_AP" doc:name="HTTP Request configuration" doc:id="4271f0c7-16c7-4240-9d33-2620d5a9748f" enableCookies="false">
		<http:request-connection protocol="HTTPS" host="anypoint.mulesoft.com" />
	</http:request-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="78ab4a94-7613-4243-b715-97f65ddfb079" file="secure-props.yaml" key="${platform.cred.key}" />
	<sub-flow name="retrieveCred-subFlow" doc:id="c66e0e6a-5ee2-45e4-b625-1e96782480cf" >
		<set-variable value="#[[]]" doc:name="temp" doc:id="2b5fdd92-d579-4386-89fc-0af229240953" variableName="tempVar" />
		<parallel-foreach doc:name="Parallel For Each" doc:id="024d383a-0e9a-4f3f-9edf-d3d277eb7803">
			<ee:transform doc:name="original Payload" doc:id="dd8013e7-4727-49ea-a4df-48c9684253b6">
					<ee:message>
					</ee:message>
				<ee:variables>
					<ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				</ee:variables>
				</ee:transform>
			<try doc:name="Try" doc:id="9b6dbc3f-44c0-4892-8144-85ef7fd47d57">
				<http:request method="GET" doc:name="/environments/clients" doc:id="a167b957-6145-43d2-9380-412cb5fd9b5a" config-ref="HTTP_Request_AP" path='#["/apimanager/xapi/v1/organizations/" ++ payload."organization_id" ++ "/environments/" ++ payload.environment_id ++ "/clients"]'>
				<http:body><![CDATA[#[null]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
			</http:request>
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6443ded7-6dd4-4fd0-939d-2460a3391ddc">
						<ee:transform doc:name="Error Message" doc:id="62988ffa-cb02-4ce3-a801-ad18d95e2ce4">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.originalPayload ++
{
	errorMessage: error.description
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</on-error-continue>
				</error-handler>
			</try>
			<choice doc:name="Choice" doc:id="a638693d-c050-48a1-9b6d-a3c5e7f5a441">
				<when expression="#[attributes.statusCode == 200]">
					<ee:transform doc:name="Map for Success" doc:id="b6d911f3-2275-4849-ba29-86d52b1df984">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.tempVar + {
	envDetails: vars.originalPayload,
	platformCredentials:{
		environment: payload.environment
	} 
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
				</when>
				<otherwise>
					<ee:transform doc:name="Map for Error" doc:id="2a4f145b-8dc5-4776-bc40-d7a1a09505af">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.tempVar + {
	envDetails: payload
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</otherwise>
			</choice>
		</parallel-foreach>
		<ee:transform doc:name="Flatten" doc:id="6782d29c-0fc1-466f-9563-1df313fb0d94">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload.payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="ConnectedApps" doc:id="996d85b8-5d33-44a3-a46e-989a3b7b657e" config-ref="HTTP_Request_AP" path="/accounts/api/connectedApplications" target="connApps">
			<http:body ><![CDATA[#[null]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Add Cpnnected App Details" doc:id="ca554793-3081-4872-8147-92be772e2b83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---
payload map ((item, index) -> 
{
    envDetails: item.envDetails,
    platformCredentials: item.platformCredentials,
    connectedApp: (vars.connApps.data filter ($.client_name == (item.envDetails.environment_name ++ '-ca')) map ((item, index) -> {
        "client_name": item."client_name",
        "client_id": item."client_id",
        "client_secret": item."client_secret"
    }))[0]
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="platform-credentials-apiFlow" doc:id="44bcf8cb-4ba1-4121-aaaa-d5828e2412e0" >
		<http:listener doc:name="Listener" doc:id="cabb1da8-d401-47a7-9d39-98e522354aa1" config-ref="HTTP_Listener_config" path="/api/platform/credentials"/>
		<set-variable value="#[attributes.headers.authorization]" doc:name="Token" doc:id="3fbe3993-73f0-4e5b-a82f-3c0317eaad10" variableName="authToken"/>
		<http:request method="GET" doc:name="/accounts/api/profile" doc:id="ed1fa514-38d5-4026-abd5-5698e6fdc65e" config-ref="HTTP_Request_AP" path="/accounts/api/profile">
			<http:headers ><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
		</http:request>
		<set-variable value="#[payload.id]" doc:name="Used ID" doc:id="a23b974c-4f99-4803-8b40-2f6428735fcf" variableName="userId"/>
		<set-variable value="#[payload.organizationId]" doc:name="Org ID" doc:id="67a9527f-02b5-4477-95e0-5c5c770e76af" variableName="orgId"/>
		<http:request method="POST" doc:name="/login" doc:id="44c869df-a0b4-428e-80fc-5f84b54510c7" config-ref="HTTP_Request_AP" url="https://anypoint.mulesoft.com/accounts/login" target="authToken" targetValue="#[&quot;bearer &quot; ++ payload.'access_token']">
			<http:body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
  "username": p('secure::auth.username'),
  "password": p('secure::auth.password')
}]]]></http:body>
		</http:request>
		<scatter-gather doc:name="Scatter-Gather" doc:id="b0f31e62-511c-456d-a2a1-bd798c37a189" >
			<route >
				<http:request method="GET" doc:name="/user/teams" doc:id="afe8428b-a5b5-4f24-9d12-8ab06233e317" config-ref="HTTP_Request_AP" path='#["/accounts/api/organizations/" ++ vars.orgId ++ "/users/" ++ vars.userId ++ "/teams"]'>
			<http:body><![CDATA[#[null]]]></http:body>
			<http:headers><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
		</http:request>
				<ee:transform doc:name="Teams" doc:id="d0885803-7fa7-481d-8df8-1e6fcbd8bfe3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.data.'team_id']]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<parallel-foreach doc:name="Parallel For Each" doc:id="fe10ac37-d60f-4bcd-ac64-49920d581696">
			<http:request method="GET" doc:name="/teams/roles" doc:id="b6b3b88e-40d2-4305-ad1c-243fa915232f" config-ref="HTTP_Request_AP" path='#["/accounts/api/cs/organizations/" ++ vars.orgId ++ "/teams/" ++ payload ++ "/roles"]'>
				<http:body><![CDATA[#[null]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
			</http:request>
			<ee:transform doc:name="Team Env" doc:id="9ec9b2e6-9d06-4b09-b9a8-c47146175b86">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
(payload.data map (value, index) -> {
    environment_name: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.environment_name else null,
    environment_id: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.environment_id else null,
    organization_name: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.organization_name else null,
    organization_id: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.organization_id else null
 }) filter ($.environment_name != null)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		</parallel-foreach>
				<ee:transform doc:name="Flatten payload" doc:id="5dc616f9-b349-497b-9721-0e4ea4eea730">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload.payload)]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="teamEnvs"><![CDATA[%dw 2.0
output application/json
---
flatten(payload.payload)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			</route>
			<route >
				<http:request method="GET" doc:name="/users/rolegroups" doc:id="c6e17444-80f6-4831-afa9-326b8b5c0b87" config-ref="HTTP_Request_AP" path='#["/accounts/api/cs/users/"++ vars.userId ++ "/rolegroups?offset=0&amp;limit=500"]'>
			<http:body><![CDATA[#[null]]]></http:body>
			<http:headers><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
		</http:request>
				<ee:transform doc:name="Role Group IDs" doc:id="e283e30b-eb8b-419f-8664-769f8ec9b74f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data map (value,index) -> {
	orgId: value.'org_id',
	roleGroupId: value.'role_group_id'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[[]]" doc:name="Temp" doc:id="d2c81fcb-c2a4-4be3-bbf9-c78b224b3cd7" variableName="tempVar"/>
				<parallel-foreach doc:name="Parallel For Each" doc:id="0d368896-3896-4aee-b90b-0d75c6e0ba83" >
					<http:request method="GET" doc:name="/rolegroups/roles" doc:id="0c472d6a-1cce-491d-9ea2-8d33d6281445" config-ref="HTTP_Request_AP" path='#["/accounts/api/organizations/" ++ payload.orgId ++ "/rolegroups/" ++ payload.roleGroupId ++ "/roles"]'>
						<http:body ><![CDATA[#[null]]]></http:body>
						<http:headers ><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
					</http:request>
					<ee:transform doc:name="Filter Create App" doc:id="3039f5af-3f3d-48e2-8acd-3880af4f5ccb" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data filter ($.role_id == "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") map ((item, index) -> 
{
    organization_id: item.context_params.org,
    environment_id: item.context_params.envId
})]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</parallel-foreach>
				<ee:transform doc:name="Flatten Payload" doc:id="e193f696-f027-4ef3-b456-9c50b4d9ed5a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload.payload filter ($.organization_id != null))]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="GET" doc:name="/cs/conditionalAssignments" doc:id="c70ee134-1dd5-4a76-a774-f9fde4e5cdf1" config-ref="HTTP_Request_AP" path="/accounts/api/cs/conditionalAssignments" target="orgInfo">
					<http:body ><![CDATA[#[null]]]></http:body>
					<http:headers ><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
				</http:request>
				<ee:transform doc:name="Env Details" doc:id="3171173b-576f-43c5-9a18-bd19ae1e70a7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (value,index) ->
{
    environment_name: ((vars.orgInfo.organizations filter ($.id == value.organization_id)).environments[0] filter ($.id == value.environment_id)).name[0],
    environment_id: value.environment_id,
    organization_name: (vars.orgInfo.organizations filter ($.id == value.organization_id)).name[0],
    organization_id: value.organization_id,

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<http:request method="GET" doc:name="/users/roles" doc:id="ea8da45d-c74b-4c25-838a-1fffe9bdd038" config-ref="HTTP_Request_AP" path='#["/accounts/api/cs/organizations/" ++ vars.orgId ++ "/users/"++ vars.userId ++ "/roles"]'>
					<http:body><![CDATA[#[null]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	"authorization" : vars.authToken
}]]]></http:headers>
				</http:request>
				<ee:transform doc:name="Filter Envs" doc:id="69890246-8d22-40e8-84c7-fbc3ce4bb1f6">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload.data map (value, index) -> {
    environment_name: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.environment_name else null,
    environment_id: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.environment_id else null,
    organization_name: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.organization_name else null,
    organization_id: if(((value.data filter ($.product_id == "cloudhub")).role_ids[0] contains  "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf") == true)value.organization_id else null
 }) filter ($.environment_name != null)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Merge Payload" doc:id="4f28aae0-e69b-491e-a7c6-c16b4fd5fb49" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload."0".payload ++ payload."1".payload ++ payload."2".payload) distinctBy ($.environment_id)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="retrieveCred-subFlow" doc:id="1eed3cf4-39d9-4848-8f8c-1673c97a90a5" name="retrieveCred-subFlow"/>
	</flow>
</mule>
